.login {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20%);
}

.loginMain {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  padding: 53px;
}

.loginTitle {
  text-align: center;
  margin-bottom: 30px;
}

.btnLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  outline: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: all 0.4s ease-in-out 0s;
}

.btnLogin:hover {
  background: #908282;
  color: #fff;
}

.active {
  background: #908282;
  color: #fff;
  cursor: context-menu;
  pointer-events: none;
  cursor: not-allowed;
}

.dots{
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-radius: 50%;
  border-right: 2px solid transparent;
  animation: around .3s linear infinite 0s;
}

@keyframes around {
  from {
    transform: rotate(360deg);
  }
}

.error{
  color: red;
  font-style: italic;
  margin-bottom: 5px;
}

.success{
  color: green;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}